@using OOdasi.Entity
@model  UserInfo
@{
    ViewBag.Title = "ProfilDuzenleOgrc";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>ProfilDuzenle</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(t => t.UserId)
    @Html.HiddenFor(t => t.UserSehirId)
    @Html.HiddenFor(t => t.UserPass)
    @Html.HiddenFor(t => t.ilanSayisi)
    @Html.HiddenFor(t => t.RoleId)
    @Html.HiddenFor(t => t.UserUyeDate)
    @Html.HiddenFor(t => t.UserPhoto)
    @Html.AntiForgeryToken()
    <div>
        <label>@ViewBag.Mesaj</label>
    </div>
    <table class="table table-striped table-hover table-condensed table-responsive table-bordered">
        <tr>
            <td>Adınız : </td>
            <td>@Html.TextBoxFor(t => t.UserName, new { @class = "form-control", @style = "width:200px", required = "required" })</td>
        </tr>
        <tr>
            <td>Soyadınız : </td>
            <td>@Html.TextBoxFor(t => t.UserLastname, new { @class = "form-control", @style = "width:200px", required = "required" })</td>
        </tr>
        <tr>
            <td>Mail Adresiniz : </td>
            <td>@Html.TextBoxFor(t => t.UserMail, new { @class = "form-control", @style = "width:200px", @type = "email", required = "required" })</td>
        </tr>
        <tr>
            <td>Doğum Tarihiniz : </td>
            <td>@Html.TextBoxFor(t => t.UserAge, new { @class = "form-control", @style = "width:200px", required = "required" })</td>
        </tr>
        <tr>
            <td>Şu an Okduğunuz ya da En son mevzun olduğunuz okul : </td>
            <td>@Html.TextBoxFor(t => t.UserLise, new { @class = "form-control", @style = "width:200px", required = "required" })</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Kaydet" class="btn btn-success" />
                <a href="~/UserIlan/ProfilimOgrc" class="btn btn-danger"> İptal</a>
            </td>
        </tr>
    </table>
}