@using OgretmenlerOdasiProjeDeneme1.Areas.Admin.Models.ViewModel
@using OOdasi.Entity;
@model UserViewModel
@{
    ViewBag.Title = "UserUyeOlogrenci";
    Layout = "~/Views/Shared/_LayoutLogOut.cshtml";
}

<h2>Sizi Aramızda Görmekten Çok Mutlu Oluruz..</h2>
<h3>Öğrenci Üyelik sayfası</h3>

@using (Html.BeginForm("UserUyeOlogrenci", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div>
        <label>@ViewBag.Mesaj</label>
    </div>
    <table class="table table-striped table-hover table-condensed table-responsive table-bordered">
        <tr>
            <td>Adınız : </td>
            <td>@Html.TextBoxFor(t => t.Userlar.UserName, new { @class = "form-control", @style = "width:200px" })</td>
        </tr>
        <tr>
            <td>Soyadınız : </td>
            <td>@Html.TextBoxFor(t => t.Userlar.UserLastname, new { @class = "form-control", @style = "width:200px" })</td>
        </tr>
        <tr>
            <td>Mail Adresiniz : </td>
            <td>@Html.TextBoxFor(t => t.Userlar.UserMail, new { @class = "form-control", @style = "width:200px", @type = "email" })</td>
        </tr>
        <tr>
            <td>Şifreniz : </td>
            <td>@Html.PasswordFor(t => t.Userlar.UserPass, new { @class = "form-control", @style = "width:200px" })</td>
        </tr>
        <tr>
            <td>Hangi Şehir</td>
            <td>@Html.DropDownListFor(t => t.Userlar.UserSehirId, Model.sehirList, new { @class = "form-control", @style = "width:200px" })</td>
        </tr>
        <tr>
            <td>Şu an Okduğunuz ya da En son mevzun olduğunuz okul : </td>
            <td>@Html.TextBoxFor(t => t.Userlar.UserLise, new { @class = "form-control", @style = "width:200px" })</td>
        </tr>
        <tr>
            <td>Doğum Tarihiniz : </td>
            <td>@Html.TextBoxFor(t => t.Userlar.UserAge, new { @class = "form-control", @style = "width:200px", @type = "date" })</td>
        </tr>
        <tr>
            <td>Fotoğrafınız : </td>
            <td><input type="file" name="photo" id="photo" required /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Kaydet" class="btn btn-success" />
            </td>
        </tr>
    </table>
}